/*Variables*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.header-content {
  display: flex;
  justify-content: space-between;
  background-color: #661FFF;
}
.header-content div.header-left img {
  margin: 0 auto;
  height: 160px;
  filter: drop-shadow(1px 1px 1px #F5A623);
}
.header-content .header-right {
  display: flex;
  justify-content: space-between;
  width: 25%;
  font-size: 2rem;
  flex-wrap: wrap;
}
.header-content .header-right button {
  margin: 5px auto;
  width: 75%;
  height: 33%;
  border-radius: 5px;
  font-size: 2rem;
  color: #BD10E0;
  background-color: white;
  border: 2px solid #F5A623;
  filter: drop-shadow(1px 1px 1px #BD10E0);
}
.header-content .header-right button:hover {
  background-color: #F5A623;
  color: #BD10E0;
  border: 2px solid #BD10E0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: #F5A623;
}
.container-all {
  background-color: white;
  height: 100%;
}
html,
body {
  font-family: 'Rubik', sans-serif;
  margin: 0 1%;
}
/*Need to add Noteworthy font-family to h1-5 tags*/
/*h1, h2, h3, h4, h5 {
   font-family
}*/
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.8rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.content-box {
  color: #4A4A4A;
}
.body-content .content-box {
  display: flex;
  width: 95%;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 5% 5%;
  border-top: 1px solid #BD10E0;
  font-size: 1rem;
}
.body-content .content-box h3 {
  color: #661FFF;
  font-weight: bold;
}
.body-content .content-box.text-right {
  flex-direction: row-reverse;
}
.body-content .content-box .content {
  width: 50%;
}
.body-content .content-box .content p {
  font-size: 1rem;
}
@media (min-width 800px) {
  .body-content .content-box .content p {
    font-size: 1.4rem;
  }
}
.body-content .content-box .body-img {
  height: 100%;
  width: 100%;
}
.body-content .content-box .body-img img {
  height: 100%;
  width: 100%;
}
.footer-content {
  background-color: #661FFF;
  filter: drop-shadow(1px 1px 1px white);
}
.footer-content nav {
  display: flex;
  justify-content: space-around;
  padding: 1%;
}
.footer-content nav a {
  color: #F5A623;
  font-size: 1.6rem;
  text-decoration: none;
  filter: drop-shadow(1px 1px 1px black);
}
.footer-content nav a:hover {
  font-size: 200%;
  text-decoration: underline;
}
.footer-content .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content .copyright h3 {
  font-size: 1.6rem;
  color: #F5A623;
  filter: drop-shadow(1px 1px 1px black);
}
section {
  border: 1px solid red;
}
div {
  border: 1px solid green;
}
img {
  border: 1px solid blue;
}
