/*Variables*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.header-content {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #661FFF;
  z-index: 3;
}
.header-content .nav-dropdown {
  font-size: 1.8rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 20%;
  filter: drop-shadow(1px 1px 1px #F5A623);
}
.header-content .nav-dropdown:hover {
  color: #F5A623;
  filter: drop-shadow(1px 1px 1px white);
}
.header-content .dropdown {
  z-index: 2;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
  width: 20%;
}
.header-content .dropdown .dropdown-button {
  padding: 15px 20%;
  justify-content: center;
  width: 100%;
  border: 3px solid #F5A623;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  color: #F5A623;
}
@media (min-width: 800px) {
  .header-content .dropdown .dropdown-button {
    font-size: 2rem;
    padding: 15px 33%;
  }
}
.header-content .dropdown .dropdown-button:hover {
  background-color: white;
  color: #F5A623;
}
.header-content .dropdown .dropdown-content {
  width: 20%;
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: 2.5px solid #F5A623;
}
.header-content .dropdown .dropdown-link {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  text-decoration: none;
  color: #661FFF;
  border-bottom: 1px solid #F5A623;
}
.header-content .dropdown .dropdown-link:hover {
  color: #661FFF;
  background-color: #F5A623;
}
.header-content .dropdown .dropdown-hidden {
  display: none;
}
.header-content div.header-left img {
  margin: 0 auto;
  height: 100px;
  filter: drop-shadow(2px 2px 1px #F5A623);
}
.header-content .header-right {
  display: flex;
  justify-content: space-between;
  width: 20%;
  font-size: 2rem;
  flex-wrap: nowrap;
  align-items: center;
}
.header-content .header-right button {
  margin: 5px auto;
  width: 45%;
  height: 50%;
  border-radius: 5px;
  font-size: 1.2rem;
}
@media (min-width: 800px) {
  .header-content .header-right button {
    font-size: 1.8rem;
  }
}
.header-content .header-right .sign-in {
  background-color: white;
  color: #4A4A4A;
  border-color: white;
  box-shadow: -1px 1px 3px #4A4A4A;
}
.header-content .header-right .sign-in:hover {
  background-color: #661FFF;
  color: white;
  border-color: #F5A623;
}
.header-content .header-right .sign-up {
  color: white;
  border-color: white;
  background-color: #F5A623;
  box-shadow: -1px 1px 3px #4A4A4A;
}
.header-content .header-right .sign-up:hover {
  background-color: #661FFF;
  color: white;
  border-color: #F5A623;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container-all {
  background-color: white;
  height: 100%;
}
html,
body {
  font-family: 'Rubik', sans-serif;
  margin: 0 auto;
}
/*Need to add Noteworthy font-family to h1-5 tags*/
/*h1, h2, h3, h4, h5 {
   font-family
}*/
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.8rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.content-box {
  color: #4A4A4A;
}
html {
  scroll-behavior: smooth;
}
.carousel {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
}
@media (min-width: 1200px) {
  .carousel {
    width: 1200px;
  }
}
@media (min-width: 800px) {
  .carousel {
    height: 500px;
  }
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  color: white;
  background-color: #4A4A4A;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: #4A4A4A;
  background-color: white;
  border: 2px solid #4A4A4A;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
  z-index: 1;
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
  z-index: 1;
}
.carousel img {
  width: 100%;
  visibility: hidden;
  opacity: 0;
}
.carousel .current {
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}
.header-img {
  padding-top: 100px;
  width: 100%;
  margin: 0 auto;
}
.header-img img {
  width: 100%;
}
.body-content {
  height: auto;
}
.body-content .features {
  padding: 2% 1%;
  color: #F5A623;
  font-weight: bold;
}
.body-content .features h2 {
  padding-left: 2.5%;
}
.body-content .content-box {
  display: flex;
  width: 95%;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 5% 5%;
  border-top: 1px solid #BD10E0;
  font-size: 1rem;
}
.body-content .content-box h3 {
  color: #661FFF;
  font-weight: bold;
}
.body-content .content-box.text-right {
  flex-direction: row-reverse;
}
.body-content .content-box .content {
  width: 90%;
  border-radius: 10px;
  padding: 3%;
  box-shadow: 0px 0px 10px 0px #661FFF;
}
.body-content .content-box .content h3 {
  font-weight: bold;
}
.body-content .content-box .content p {
  font-size: 1.3rem;
}
@media (min-width: 800px) {
  .body-content .content-box .content p {
    font-size: 1.6rem;
  }
}
@media (min-width: 800px) {
  .body-content .content-box .content {
    width: 45%;
  }
}
.body-content .content-box .body-img {
  height: 100%;
  width: 100%;
}
@media (min-width: 800px) {
  .body-content .content-box .body-img {
    width: 50%;
  }
}
.body-content .content-box .body-img img {
  height: 100%;
  width: 100%;
  padding: 2%;
}
@media (min-width: 800px) {
  .body-content .content-box {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.footer-content {
  background-color: #661FFF;
  filter: drop-shadow(1px 1px 1px black);
}
.footer-content nav {
  display: flex;
  justify-content: space-around;
  padding: 1%;
}
.footer-content nav a {
  color: #F5A623;
  font-size: 1.6rem;
  text-decoration: none;
  filter: drop-shadow(1px 1px 1px black);
}
.footer-content nav a:hover {
  font-size: 200%;
  text-decoration: underline;
}
.footer-content .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.footer-content .copyright h3 {
  font-size: 1.2rem;
  color: #F5A623;
  filter: drop-shadow(1px 1px 1px black);
}
.body-content-meet {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 115px;
  width: 95%;
  align-content: center;
}
.body-content-meet h1 {
  font-weight: bold;
  padding-bottom: 10px;
  color: #F5A623;
}
.body-content-meet .meet-box {
  width: 100%;
  flex-wrap: wrap;
  padding: 2%;
  border-top: 1px solid #BD10E0;
  align-items: center;
}
.body-content-meet .meet-box p {
  color: #4A4A4A;
}
.body-content-meet .meet-box h2 {
  font-weight: bold;
  color: #661FFF;
}
.body-content-meet .meet-box h4 {
  color: #F5A623;
  font-weight: bold;
}
.body-content-meet .meet-box .git-linkedin-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-content-meet .meet-box .git-linkedin-nav a {
  font-size: 1.8rem;
  padding-top: 10px;
  color: #661FFF;
}
@media screen and (min-width: 800px) {
  .body-content-meet .meet-box .git-linkedin-nav a {
    font-size: 2rem;
  }
}
@media (min-width: 800px) {
  .body-content-meet .meet-box .scrum-UX-box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
@media (min-width: 800px) {
  .body-content-meet .meet-box .UI-box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
@media (min-width: 800px) {
  .body-content-meet .meet-box .front-box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
@media (min-width: 800px) {
  .body-content-meet .meet-box .back-box {
    display: flex;
    justify-content: center;
    width: 45%;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
.body-content-meet .meet-box .meet-img {
  width: 250px;
  margin: 15px auto;
  height: 200px;
  align-items: center;
}
.body-content-meet .meet-box .meet-img img {
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 800px) and (max-width: 1050px) {
  .body-content-meet .meet-box .meet-img {
    width: 75%;
  }
}
.body-content-meet .meet-box .scrum-UX-content,
.body-content-meet .meet-box .UI-content,
.body-content-meet .meet-box .front-content,
.body-content-meet .meet-box .back-content {
  margin: 20px 20px;
  padding: 10px 10px;
  box-shadow: 0px 0px 10px 0px #661FFF;
  border-radius: 10px;
}
@media (min-width: 800px) {
  .body-content-meet .meet-box .scrum-UX-content {
    margin: 0 auto;
    width: 45%;
  }
}
