.header-img {
    width: 100%;
    margin: 0 auto;
    
    img{
        width:100%;
    }
}
//formatting for header image^^^^

.body-content {
    height:auto;
    .content-box {
        //formatting for boxes that each have h3, p, and image
        display:flex;
        width:95%;
        height: auto;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 5% 5%;
        border-top: 1px solid @guidr-gray;
        font-size: 1rem;
        
        

        h3 {
            //styling for header in each text box
            color: @guidr-purp;
            font-weight: bold;
        }

        &.text-right{
        flex-direction: row-reverse;
        
        }

        .content{
            //just the text next to images
            width:90%; 
            border: 3px solid @guidr-pink;
            padding: 3%;
            @media(min-width: 800px){
             width:45%;   
            }
           

            p{
                font-size: 1.2rem;
                
            }
        }

        .body-img{
            height:100%;
            width:100%;
            @media(min-width: 800px){
             width:50%;   
            }

            img{
                height:100%;
                width:100%;
                padding:2%
            }
        }

        @media(min-width: 800px){
                flex-wrap: wrap;
                justify-content: space-between;
        }
        
    }
}