.header-content {
    display:flex;
    justify-content: space-between;
    background-color: @guidr-purp;
    
   
    div.header-left {
        //the guidr logo^
        img {
            margin: 0 auto;
            height: 100px;
            filter: drop-shadow(2px 2px 1px @guidr-orange);
            }
           
    }

    .header-right {
        //sign-in/sign-up buttons
            display: flex;
            justify-content: space-between;
            width: 25%;
            font-size: 2rem;
            flex-wrap: wrap;
            
            

                button {
                    margin: 5px auto;
                    width: 75%;
                    height: 33%;
                    border-radius: 5px;
                    font-size: 1.6rem;
                    
                }

                .sign-in {
                    background-color: white;
                    color: @guidr-gray;
                    border-color: white;
                    box-shadow: -1px 1px 3px @guidr-gray;

                    &:hover {
                        background-color: @guidr-purp;
                        color: white;
                        border-color: @guidr-orange;
                    }
                }

                .sign-up {
                    color:white;
                    border-color: white;
                    background-color: @guidr-orange;
                    box-shadow: -1px 1px 3px @guidr-gray;

                    &:hover {
                        background-color: @guidr-purp;
                        color: white;
                        border-color: @guidr-orange;
                    }
                }


            }
               
           
        }   

